body {
    background: #f7f7f9;
}

footer {
    margin-top: 7.5rem;
}
.myContainer {
    width: 100%;
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .myContainer {
        width: 80%;
    }
}


.modal body.modal-open {
    padding-right: 0 !important
}

body.modal-open {
    overflow: auto
}

body.scrollable {
    overflow-y: auto
}

.modal-footer {
    display: flex;
    justify-content: flex-start;
}

.btn {
    position: absolute;
    right: 10px;
}

.links-color h5,
.links-color li > a {
    color: #fff;
}

/* album settings */
.fit-image {
    width: 100%;
    object-fit: cover;
    min-height: 11.5rem;
}

@media (min-width: 768px) {
    .fit-image {
        height: 11.5rem;
    }
}

@media (min-width: 1150px) {
    .fit-image {
        height: 14rem;
    }
}

/* edit rectangle in album */
.card div.fit-image {
    background: #61686E;
    color: #ECECEC;
}

/* Breakpoint XS */
@media (max-width: 575px) {
    /*.d-xs-none {*/
    /*    display: none !important;*/
    /*}*/

    .add-album {
        background: #61686E !important;
    }

    .add-album > .card-text {
        color: #ECECEC !important;
    }
}
