body {
    background: #f7f7f9;
}

footer {
    margin-top: 7.5rem;
}
.myContainer {
    width: 100%;
}

.viewport-height{
    height: calc(100vh - 5.625rem);
}

.icon-large {
    font-size: 1rem;
}

.delete-position {
    /*height: 10px;*/
}

.deleteBtnAlbum {
    padding: 0;
}

.remove-font-size {
    font-size: 1.3rem;
    text-transform: capitalize;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .myContainer {
        width: 80%;
    }
}

#add-category{
    border-bottom:1px solid #0d0d0d;
}
#add-category .nav-link{
    padding:0.5rem 0rem;
}

ul.categories .nav-item {
     margin-right: 0rem;

}


.modal body.modal-open {
    padding-right: 0 !important
}

body.modal-open {
    overflow: auto
}

body.scrollable {
    overflow-y: auto
}

/*.modal-footer {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*}*/

/*.btn {*/
/*    position: absolute;*/
/*    right: 10px;*/
/*}*/

.form-control{
    background: #ccc;
}

.links-color h5,
.links-color li > a {
    color: #fff;
}

/* album settings */
.fit-image {
    width: 100%;
    object-fit: cover;
    min-height: 11.5rem;
}

@media (min-width: 768px) {
    .fit-image {
        height: 11.5rem;
    }
}

@media (min-width: 1150px) {
    .fit-image {
        height: 14rem;
    }
}

/* edit rectangle in album */
.card div.fit-image {
    background: #61686E;
    color: #ECECEC;
}

/* Breakpoint XS */
@media (max-width: 575px) {
    .d-xs-none {
        display: none !important;
    }

    /*.add-album {*/
    /*    background: #61686E !important;*/
    /*}*/

    /*.add-album > .card-text {*/
    /*    color: #ECECEC !important;*/
    /*}*/
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
